
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c6b;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar .logo-img {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}

.navbar .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* Navbar Links */
.navbar .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links button{
    padding: 10px;
    margin:10px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #9cff9c;
}


.navbar .hamburger {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #575787;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar .nav-links.active {
        transform: translateX(0);
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .navbar .hamburger {
        display: block;
    }
}
